[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
waitress = "*"
dnspython = "*"
pyyaml = "*"
redis = "*"
flask = {extras = ["async"], version = "*"}
celery = "*"
flask-restx = "*"

[dev-packages]

[requires]
python_version = "3.10"
